.titledash {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #1f1f1f;
}

.dashborder {
    background: #ffffff;
    border: 1px solid #eaecee;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 16px;
    box-shadow: 0px 4px 25px rgba(187, 187, 187, 0.25);
}

.subtitledash {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #434a5e;
    font-family: "Raleway", sans-serif;
}

 .apexchart {
    background: #ffffff;
    border: 1px solid #eaecee;
    border-radius: 12px;
    padding: 10px;
    
 }
/*
.apexcharts-legend {
    position: absolute !important;
    left: auto !important;
    top: 110px !important;
    right: 5px !important;
}

.apexcharts-legend-marker {
    background-color: none !important;
}

.apexcharts-legend-text {
    font-family: "Rubik" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 20px !important;
    letter-spacing: 0.416667px !important;
    text-transform: uppercase !important;
    color: #9ea7ac !important;
    font-family: "Rubik", sans-serif !important;
}



.apexcharts-legend-series {
    margin: 8px 5px !important;
}

.apexcharts-legend-text {
    padding-left: 25px !important;
    margin-left: -14px !important;
} */

.dateinput {
    border: none;
    color: #08477a;
    justify-content: center;
    margin-left: -25px !important;
    background-color: transparent;
}

.btnleads {
    border: 1px solid #0d99ff;
    border-radius: 5px;
    color: #0d99ff;
    padding: 7px 16px !important;
    font-family: "Rubik" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center !important;
    letter-spacing: 0.416667px !important;
    text-transform: capitalize !important;
    color: #0d99ff;
}

.btn:hover {
    color: #0d99ff;
    border: 1px solid;
}

.titledate {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    letter-spacing: -1px !important;
    color: #748aa1 !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: relative;
    right: 2px;
}

input::-webkit-datetime-edit {
    position: relative;
    left: 15px;
}

input::-webkit-datetime-edit-fields-wrapper {
    position: relative;
    left: 15px;
}


.highcharts-title{
    display: none !important;
}
.highcharts-credits{
    display: none !important;
}

.highcharts-button-symbol{
    display: none !important;
}

.open-button {
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 12px;
    color:#434A5E;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    /* position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9; */
  }
  
  /* Add styles to the form container */
  
  
  /* Full-width input fields */

  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .apexcharts-text {
    font-family: var(--bs-font-sans-serif)!important;
    fill: #adb5bd !important;
}

.apexcharts-title-text{
    font-family: var(--bs-font-sans-serif)!important;
    fill: #adb5bd !important;
}

.apexcharts-legend-text {
    color: #adb5bd!important;
    font-family: var(--bs-font-sans-serif)!important;
    font-size: 13px!important;
}

.highcharts-button-box{
    display: none;
}

.anzeigenbtn{
    background: #00727A;
    border-radius: 8px;
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 20px;
    align-items: center;
    border: none;
    color: #FFFFFF;
}

@media (max-width: 1429.98px) { 
    .textboard{
        display: flex;
        justify-content: space-between;
    }
 } 
    
