.bgtable {
    background: #FFFFFF;
    border-radius: 12px;
    margin-left: 20px;
}


.custom-control-label::after {
    background-color: white;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: #e9ecef !important;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #ebebeb !important;
}

label {
    display: inline-block;
    margin-bottom: 0rem !important;
}

.table td,
.table th {

    padding: 0.75rem;
    vertical-align: top;
    border-top: none !important;
}

tr {
    font-size: 14px;
}

tr:hover {
    background-color: #F7F7F7;
}

.formsearch {
    background-color: white !important;
    border: 1px solid #eaecee;
    border-radius: 8px;
    padding: 28px !important;
    width: 100%;
}

.form-select:focus {
    border-color: #eaecee !important;
    outline: 0;
    box-shadow: none !important;
}

.form-select:focus {
    border-color: #eaecee !important;
    outline: 0;
    box-shadow: none !important;
}

.btnedit {
    border: none;
    color: #17a2b8 !important;
    background-color: transparent;
    border-color: #17a2b8 !important;
    outline: none;
    padding: 3px 10px;
    border: 1px solid;
}

.btnedit:hover {
    background-color: #00727a;
    color: white !important;
}

.btn:focus-visible {
    color: #00727a !important;
    background-color: #00727a !important ;
}

.btndelete {
    border: none;
    color: red !important;
    background-color: transparent;
    border-color: red !important;
    outline: none;
    padding: 3px 10px;
    border: 1px solid;
}

.btndelete:hover {
    background-color: red;
    color: white !important;
}

.topPlaceholder {
    padding: 0rem 0.25rem;
    margin-bottom: -13px;
    width: min-content;
}

.topPlaceholder span {
        font-size: 14px;
        color: #94A2AB;
        margin-left: 5px;
        background: white;
}

.filtersubmit {
    position: absolute;
    z-index: 1;
    left: 12px;
    top: 15px;
    color: #94A2AB;
    cursor: pointer;
    width: 0;
}

.titleoftable{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #1F1F1F;
}

.searchgrup{
    padding-left: 25px;
}

.select-form {
    border-top: 0px solid !important;
}

.filtersubmit {
    position: absolute;
    z-index: 1;
    left: 12px;
    top: 15px;
    color: #7b7b7b;
    cursor: pointer;
    width: 0;
}

.inputleads {
    border: 1px solid #eaecee;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.subtitleleadtable {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #1f1f1f;
}

/* Filter/supervisor */

.accordionbg {
   
}

.acordion{
    background: rgba(0, 114, 122, 0.12);
    padding: 14px;
    border: 1px solid #00727A;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.4s;
    cursor: pointer;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #00727A;

}
.accordion {
    border: 1px solid #00727A;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    background: rgba(0, 114, 122, 0.12)
}


.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    border-radius: 12px;
    margin-top: 12px;
    /* overflow: hidden; */
  
}

.form-controol {
    display: block;
    width: 100%;
    padding: 3px 7px !important;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out;
    box-shadow: 0.15s ease-in-out;
    border-radius: 8px;
}

.bs-select-all{
    border: none !important;
    font-size: 12px !important;
    color: #3F4852 !important;
}

.bs-deselect-all{
    border: none !important;
    font-size: 12px !important;
    color: #3F4852 !important;
}

.filter-option-inner-inner{
   color: #3F4852 !important
   ;
}
.btn:active{
        color: #fffcfc !important; 
    background-color: #fffcfc !important; 
   border-color: #fffcfc !important; 
 box-shadow: var(--mdb-btn-active-shadow); 
}

.btn-light:hover{
    box-shadow: none !important;
    background-color: none !important;
}

/* .btn:hover {
    color: var(--mdb-btn-hover-color);
    background-color: #fff !important;
    border-color: var(--mdb-btn-hover-border-color);
} */

.bootstrap-select
.dropdown-toggle:focus{
    outline: thin dotted rgb(255, 252, 252)!important;
    outline: none!important;
    outline-offset: -2px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 100% !important;
}

.btn:hover {
    /* color: none !important; 
    border: none !important; */
}

.dropdown-toggle{
    border: none !important ;
}

.pull-right{
    float: right;
}



.tableform{
    width: 100%;
    /* height: 285vh; */
   
    background: #FFFFFF;
    border-radius: 12px;
}

 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
   th, td {
    text-align: center;
    padding: 15px 5px;
  }  


  .buttonsearch{
    width: 52px;
    height: 44px;
    left: 1156px;
    top: 262px;
    border: 1px solid #00727A;
    padding: 3px 3px 0px 0px;
    border-radius: 8px;
    margin: 0px 0px;
    background-color: white;
    float: right;
  }

  .tablesfont{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #3F4852;
    }

 tbody{
        border-bottom:1px solid #EAECEE;
    }

.squaredFour {
        width: 20px;
        position: relative;
        margin: 20px auto;
    }

tr {
    border-bottom: 1px solid #EAECEE;
}

.searchLeads{
    padding-right: 32px;

}
@media (min-width: 576px) { 
    .inputLeads{
        padding: 0px 20px;
    }
 }